asn1crypto=="*"
cffi=="*"
cryptography=="*"
django=="*"
django-rest-knox=="*"
django-webpack-loader=="*"
djangorestframework=="*"
gunicorn=="*"
pycparser=="*"
pytz=="*"
six=="*"
sqlparse=="*"
whitenoise=="*"
